# --- Pipeline Mode ---
# "local" (MLX-Whisper + Ollama), "cloud" (Google Cloud) or "runpod" (External NVIDIA GPU WS)
PIPELINE_MODE=local

# --- RunPod Config (if PIPELINE_MODE=runpod) ---
# Paste your RunPod API Key here for Auto-Discovery of ports/URLs:
RUNPOD_API_KEY=
# Or manually specify the WSS URL if you don't use API keys:
RUNPOD_WSS_URL=

# --- Google Cloud Config (if PIPELINE_MODE=cloud) ---
GOOGLE_APPLICATION_CREDENTIALS=ondertitels-486017-0ee48ab1ba8d.json
GOOGLE_PROJECT_ID=ondertitels-486017

# --- Local Config (if PIPELINE_MODE=local) ---
WHISPER_MODEL=mlx-community/whisper-small-mlx
OLLAMA_MODEL=aya-expanse:8b
OLLAMA_URL=http://localhost:11434
MIN_LOCAL_CHUNK_S=10.0
MAX_SILENCE_FLUSH_MS=2000

# --- General ---
# Dictates the server auto-pause timeout (in minutes)
MAX_SESSION_MINUTES=30
TARGET_LANG_1=en-US
TARGET_LANG_2=ru
TARGET_LANG_3=de
TARGET_LANG_4=nl-NL
ENABLE_TRANS_3=true
ENABLE_TRANS_4=true

# --- Network Audio (VBAN) configuration ---
# The target VBAN stream name the server should listen to over UDP Port 6980 if VBAN input is selected.
VBAN_STREAM_NAME=ringleiding
DEMO_FILE_PATH=2025-12-14-1000.wav
